<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="United Nation Website Test Automation Test Suite">

	 <listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners> 


	<test name="United Nation Website Test Cases">
	
	<!-- <parameter name = "username" value = "hemant.hs828@gmail.com"/>
	<parameter name = "password" value = "2@Discus2@"/> -->
		<classes>
			<class name="Tests.GetInvolvePageTest"></class>
			<!-- <class name="Browserr.Testing"></class>
			<class name="Browserr.ScreenshotFirstTest"></class>
			<class name="Browserr.ScreenshotPractice"></class> 
			<class name="Browserr.AmazonPractice"></class>   -->

		</classes>
	</test>
</suite>